<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk Controller</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
    function updateTabSwitchingButton(caller, status) {
      if (status["isTabSwitching"]) {
        caller.innerHTML = "Pause";
        caller.setAttribute('onclick', 'toggleTabSwitching(this, \'pause\')')
      } else {
        caller.innerHTML = "Resume";
        caller.setAttribute('onclick', 'toggleTabSwitching(this, \'resume\')')
      }
    }

    function toggleTabSwitching(caller, action) {
      event.preventDefault();

      fetch('/' + action, {
          method: 'POST',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      })
      .then(res => res.text())
      .then(html => updateTabSwitchingButton(caller, JSON.parse(html)))
      .catch(err => console.error(err));

      return false;
    }

    new EventSource("/updates").onmessage = (event) => {
      updateTabSwitchingButton(document.getElementById("tabSwitchingButton"), JSON.parse(event.data));
    }

    window.addEventListener("load", function(event){
      var flkty = new Flickity('.carousel', {
        on: {
          staticClick: function(event, pointer, cellElement, cellIndex) {
            if (!cellElement) { return; }

            fetch("/activate/", {
              "method": "POST",
              "headers": { "content-type": "application/x-www-form-urlencoded" },
              "body": "id=" + cellElement.id,
            })
            .catch(err => console.error(err));
          },
        },
        wrapAround: true,
        imagesLoaded: true,
        percentPosition: false,
      });
    });
    </script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="current">Home</a>
      {{ if .isTabSwitching }}
        <a id="tabSwitchingButton" onclick="toggleTabSwitching(this, 'pause')">Pause</a>
      {{ else }}
        <a id="tabSwitchingButton" onclick="toggleTabSwitching(this, 'resume')">Resume</a>
      {{ end }}
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <div class="carousel">
      {{ range .images }}
        <img id="{{ . }}" src="/image/{{ . }}" />
      {{ end }}
      </div>
    </main>
    <footer>
      <p>
        {{ .programVersion }}
        ·
        <a href="https://github.com/suhlig/kiosk">Source code</a>
        ·
        Made with <a href="https://simplecss.org/">simple.css</a>
      </p>
    </footer>
  </body>
</html>
